@import "/Users/giannicallegari/Desktop/PreEntrega3-Callegari/scss/base/_mixins.scss";

* { 
    margin: 0;
    padding: 0; 
}

@font-face { 
    font-family: "Quando Regular"; 
    src: url("../fuentes/Quando-Regular.ttf"); 
} 

@font-face {
    font-family: "Rancho-Regular";
    src: url("../fuentes/Rancho-Regular.ttf");
}

body {
    text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../imagenes/fondo-tamaño-grande.png") ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
	overflow-x: hidden;
    width: 100%;

}
   


